#main{
    background-color: #1D1E20;
}

#header_container{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    position: relative;
    width: 100%;
}

#header{
    align-items: stretch;
    background-color: #25262a;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    width: 100%;
}

#header h1{
    position: relative;
    color: white;
}

#header h2{
    position: relative;
    color: white;
}